.travel-info{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.travel-info .icon{
    color: #C52632;
    font-size: 30px;
}
.travel-title{
    margin-left: 5px;
    color: #377D71;
}
.travel-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 10px;
    gap: 5px;
}
.travel-activities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.about-me-container{
    border: 1px solid gray;
    height: 700px;
    border-radius: 8px;
    position: relative;
}
.my-info-title{
    display: flex;
    align-items: center;
}
.my-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}
.my-name{
    margin-left: 5px;
    font-size: 21px;
    font-weight: 700;
}
.info {
    background-color: #D9D9DB;
    padding: 10px 5px;
    border-radius: 10px;
    display: flex;
}

.my-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.break-info .title{
    margin-left: 15px;
}
.break-button {
    background-color: #D9D9DB;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.btn-break {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: none;
    color: gray;
}
.travel-details {
    display: flex;
    flex-direction: column;
}
.travel-details .title{
    margin-left: 15px;
}
.travel-time {
    width: 80%;
    margin-bottom: 15px;
    background-color: #D9D9DB;
    padding: 15px 25px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.activity-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 0px 0px 8px 8px;
    color: white;
    background-color: #8E073C;
    font-size: 20px;
    border: none;
}
.activity-button:hover{
    background-color: #6192AC;
}
@media only screen and (max-width:688px) {
    body {
        margin: 0;
        padding: 0;
    }

    .travel-activities {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .travel-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .activities-info{
        width: 415px;
        height: 600px;
    }
    .activities-info img{
        width: 400px;
        height: 400px;
        border-radius: 8px;
        margin: 7px;
    }
    .about-me-container {
        padding: 0px 50px;
        margin-top: 20px;
        width: 300px;
    }
    .activity-button{
        width: 80%;
        margin-right: 150px;
    }
    .ans-cart {
        width: 250px;

    }
}
