body{
    background-color: #F2F4FA;
}
.question-title{
    text-align: center;
    color: #8854d0;
}
.ans-cart{
    width: 800px;
    box-shadow: 1px 1px 8px 2px gray;
    text-align: center;
    margin: auto;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 20px;
}
@media screen and (max-width:720px) {
    .question-title{
        width: auto;
        margin: 20px;
    }
    .ans-cart{
        width: auto;
        margin: 30px;
    }
}